---
const { title = "lilUrl" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	:root{
		--Secondary-Color : #27548A;
		--Primary-Color : #F3F3E0;
		--Body-Color : #183B4E;
		--Accent-Color : #c08322;
		--Accent-Color-2 : #DDA853;
		--Heading-Font: "FreightSans-SemiBold", sans-serif;
		--CTA-Font: "Effra-Medium";
		--Paragraph-Font: "OpenSans-VariableFont";
		--Paragraph-Font-Italic: "OpenSans-Italic";
		--Application-UI-Light-Font: "Effra-Light";
		--Application-UI-Medium-Font: "Effra-Medium", sans-serif;
		--Application-UI-Regular-Font: "Effra-Regular", sans-serif;
		--N-BG: #D9E2EC;
		--N-Cards-BG: #F0F4F8;
		--N-CTA-BG: #048271;
		--N-CTA-BG-Hover: #03695C;
		--N-Body-Color: #334E68;
		--N-CTA-Color: #FFFFFF;
		--N-Heading-Color: #102A43;
	}

	a {
		text-decoration: none;
	}

	body{
		margin: 0;
		position: relative;
		background-color: var(--N-BG);
	}

	@font-face {
		font-family: 'Manrope-ExtraBold';
		src: url("/fonts/Manrope/static/Manrope-ExtraBold.ttf");
	}

	@font-face {
		font-family: 'Manrope-Medium';
		src: url("/fonts/Manrope/static/Manrope-Medium.ttf");
	}

	@font-face {
		font-family: 'Manrope-Bold';
		src: url("/fonts/Manrope/static/Manrope-Bold.ttf");
	}

	@font-face {
		font-family: 'Manrope-SemiBold';
		src: url("/fonts/Manrope/static/Manrope-SemiBold.ttf");
	}

	@font-face {
		font-family: 'Pacifico';
		src: url("/fonts/Pacifico/Pacifico-Regular.ttf");
	}

	@font-face {
		font-family: "FreightSans-Bold";
		src: url("/fonts/FreightSans/FreightSans_Pro_Bold.otf")
	}

	@font-face {
		font-family: "FreightSans-Medium";
		src: url("/fonts/FreightSans/FreightSans_Pro_Medium.otf")
	}

	@font-face {
		font-family: "FreightSans-SemiBold";
		src: url("/fonts/FreightSans/FreightSans_Pro_Semibold.otf")
	}

	@font-face {
		font-family: "Effra-Regular";
		src: url("/fonts/Effra/Effra-Regular.ttf")
	}

	@font-face {
		font-family: "Effra-Bold";
		src: url("/fonts/Effra/Effra-Bold.ttf")
	}
	@font-face {
		font-family: "Effra-Medium";
		src: url("/fonts/Effra/Effra-Medium.ttf")
	}

	@font-face {
		font-family: "Effra-Heavy";
		src: url("/fonts/Effra/Effra-Heavy.ttf")
	}

	@font-face {
		font-family: "Effra-Light";
		src: url("/fonts/Effra/EffraLight.ttf")
	}

	@font-face {
		font-family: "OpenSans-VariableFont";
		src: url("/fonts/OpenSans/OpenSans-VariableFont.ttf");
	}

	@font-face {
		font-family: "OpenSans-Italic";
		src: url("/fonts/OpenSans/OpenSans-Italic.ttf");
	}
	@font-face {
		font-family: "Proxima Nova Regular";
		src: url("/fonts/ProximaNova/Proxima Nova Regular.ttf");
	}
</style>