---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Shortener from '../components/Shortner/Shortener'
import '../styles/index.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<div>
			<h1 class="title">Shorten your link instantly</h1>
				<Shortener client:load/>
			<p class='sub-title'>Paste your link below and get a short URL in one click with <span>QR code instantly</span></p>
		</div>
	</main>
</Layout>
