:root{
  --Secondary-Color : #27548A;
  --Primary-Color : #F3F3E0;
  --Body-Color : #183B4E;
  --Accent-Color : #4b2c00;
  --Accent-Color-2 : #DDA853;
}

a {
  text-decoration: none;
}

body{
  margin: 0;
  font-size: 10px;
  position: relative;
  background-color: var(--Primary-Color);
}

@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url("../landing/public/fonts/Manrope/static/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url("../landing/public/fonts/Manrope/static/Manrope-Medium.ttf");
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url("../landing/public/fonts/Manrope/static/Manrope-Bold.ttf");
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: url("../landing/public/fonts/Manrope/static/Manrope-SemiBold.ttf");
}

@font-face {
  font-family: 'Pacifico';
  src: url("../landing/public/fonts/Pacifico/Pacifico-Regular.ttf");
}