/* Styles for Login */
.loginNav{
    padding: 2.125rem 1.5rem 0.875rem;
}

#lilurl {
    color: var(--Accent-Color);
    font-family: Pacifico, cursive;
    font-size: 4em;
}

@media screen and (max-width: 1075px) {
    .loginNav #lilurl {
        font-size: 3.5em;
    }
}

.loginModal {
    display: flex;
    padding: 1.5rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginModal form {
    display: flex;
    max-width: 350px;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    /*padding: 1.5rem;*/
}

.loginHeader h1 {
    margin: 0;
    font-size: 3em;
    font-family: Manrope-ExtraBold, sans-serif;
}

.loginHeader p{
    margin: 10px 0 0;
    font-size: 1.6em;
    font-family: Manrope-Medium, sans-serif;
}

.loginHeader a{
    text-decoration: underline;
}

.loginOptions{
    display: grid;
    grid-template-areas:
            "manual"
            "or"
            "oAuth";
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
    width: 100%;
}

.manualLogin{
    grid-area: manual;
}

.manualLogin label {
    font-family: "Manrope-Bold", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(39, 49, 68);
    display: block;
    margin: 0 0 1rem;
}

.manualLogin label div {
    display: block;
    box-sizing: border-box;
    margin: 0 0 0.5rem;
}

.manualLogin input {
    font-family: "Manrope-Medium", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(39, 49, 68);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5625rem 0.75rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid rgb(219, 224, 235);
    margin: 0 0 0.5rem;
}

.manualLogin small{
    color: rgb(222, 49, 33);
    font-size: 0.8em;
}

.manualLogin .greenTick {
    color: rgb(24, 130, 56);
    position: absolute;
    top: 2.45rem;
    right: 0.75rem;
    height: 1.25rem;
    width: 1.25rem;
}

.showPassword {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--Accent-Color);
    position: absolute;
    right: 0;
    font-family: "Manrope-Bold", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.showPassword span {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    gap: 0.25rem;
    vertical-align: top;
}

.manualLogin div:nth-child(2){
    position: relative;
}

.forgotPassword {
    color: var(--Accent-Color);
    text-decoration: underline;
    font-family: Manrope-Medium, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    float: right;
    margin-top: 0.5rem;
}

.loginButton {
    font-family: Manrope-Bold, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.625rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgb(42, 91, 215);
    margin-top: 1rem;
}

.loginButton:hover {
    color: rgb(255, 255, 255);
    background: rgb(12, 62, 187);
}

.or {
    grid-area: or;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    gap: 1rem;
    color: rgb(58, 72, 99);
    font-family: Manrope-ExtraBold, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
}

.or::before {
    content: "";
    height: 0.0625rem;
    width: 100%;
    background: rgb(219, 224, 235);
    margin: auto 0;
}

.or:after {
    content: "";
    height: 0.0625rem;
    width: 100%;
    background: rgb(219, 224, 235);
    margin: auto 0;
}

.oAuth {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.oAuth .google {
    font-family: "Manrope-Bold", sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    color: rgb(39, 49, 68);
    background: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(219, 224, 235);
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 0.625rem 1rem;
    margin-top: 0.5rem;
}

.google svg {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex ;
    gap: 0.25rem;
    vertical-align: top;
    margin-right: 5px;
}

@media screen and (min-width: 480px) {
    .loginOptions{
        grid-template-areas:
            "oAuth"
            "or"
            "manual";
    }
}

#passwordErrors {
    display: flex;
    font-size: 13px;
    padding: 0;
    flex-direction: column;
}

#passwordErrors li{
    list-style: none;
    /*gap: 0.25rem;*/
    display: flex;
    align-items: center;
}

#passwordErrors li svg{
    width: 1rem;
    height: 1rem;
    margin-right: 0.125rem;
}

